.group{
    background: #335;
    width: 180px;
    margin: 0 auto 20px;
    display: grid;
    grid-template-columns: 100px 80px;
    border-radius: 15px;
}
input,select{
    background-color: azure;
    border:0;
    color:black;
    border: 1px solid black;
    border-radius: 5px;
}
input{
    padding-left: 10px;
}
select{
    padding: 15px;
    width: 100px;
    border: 2px solid gold;
}