.footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
};

* {
  text-decoration: none;
  display: block;
}


.footer {
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 50px;
};


